/* Styles pour le tableau de réservations */

/* Lignes impaires */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* En-tête du tableau */
.table thead th {
    background-color: #007bff; /* Couleur de fond de l'en-tête */
    color: white; /* Couleur du texte de l'en-tête */
}

/* Liens d'action */
.btn {
    padding: 0.3rem 0.7rem; /* Rembourrage des boutons */
}

.btn i {
    margin-right: 5px; /* Marge à droite de l'icône */
}

/* Bouton "Réservation" */
.btn-reservation {
    background-color: #28a745; /* Couleur de fond du bouton */
    border-color: #28a745; /* Couleur de la bordure du bouton */
    color: white; /* Couleur du texte du bouton */
}

.btn-reservation:hover {
    background-color: #218838; /* Couleur de fond du bouton au survol */
    border-color: #1e7e34; /* Couleur de la bordure du bouton au survol */
}

/* Bouton "Show" */
.btn-show {
    background-color: #ffc107; /* Couleur de fond du bouton */
    border-color: #ffc107; /* Couleur de la bordure du bouton */
    color: white; /* Couleur du texte du bouton */
}

.btn-show:hover {
    background-color: #e0a800; /* Couleur de fond du bouton au survol */
    border-color: #d39e00; /* Couleur de la bordure du bouton au survol */
}

/* Bouton "Edit" */
.btn-edit {
    background-color: #007bff; /* Couleur de fond du bouton */
    border-color: #007bff; /* Couleur de la bordure du bouton */
    color: white; /* Couleur du texte du bouton */
}

.btn-edit:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
    border-color: #00428c; /* Couleur de la bordure du bouton au survol */
}

/* Bouton "Delete" */
.btn-delete {
    background-color: #dc3545; /* Couleur de fond du bouton */
    border-color: #dc3545; /* Couleur de la bordure du bouton */
    color: white; /* Couleur du texte du bouton */
}

.btn-delete:hover {
    background-color: #c82333; /* Couleur de fond du bouton au survol */
    border-color: #bd2130; /* Couleur de la bordure du bouton au survol */
}
