/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: var(--button-bg-color);
}

/* Styles généraux pour les boutons */
.btn {
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Espacement entre les blocs de formulaire */
.mb-3 {
    margin-bottom: 2rem;
}

/* Styles des cartes */
.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

/* Styles de la table */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--main-text-color);
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th {
    text-align: left;
    font-weight: bold;
    background-color: #f8f9fa;
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Ajout de quelques styles supplémentaires pour les petits écrans */
@media (max-width: 768px) {
    .card {
        width: 100%;
        border-radius: 0;
    }

    .table th, .table td {
        display: block;
        width: 100%;
    }

    .table th {
        text-align: left;
    }
}
