/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Couleur de fond douce */
    color: #000000; /* Couleur du texte */
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out; /* Transition fluide */
}

h1 {
    text-align: center;
    color: #002533;
}

.card.form {
    padding: 80px;
}

/* Styles généraux pour les boutons */
.btn {
    text-decoration: none; /* Supprimer la décoration de texte par défaut */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Styles spécifiques pour le bouton 'Show' */
.btn-warning {
    background-color: #f0ad4e;
    color: white;
}

.btn-warning:hover {
    background-color: #ec971f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles spécifiques pour le bouton 'Edit' */
.btn-primary {
    background-color: #337ab7;
    color: white;
}

.btn-primary:hover {
    background-color: #286090;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles spécifiques pour le bouton 'Delete' */
.btn-danger {
    background-color: #d9534f;
    color: white;
}

.btn-danger:hover {
    background-color: #c9302c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-create {
    background-color: #002533;
    display: block; /* Change l'affichage en block pour permettre le centrage horizontal */
    color: rgb(255, 255, 255);
    text-align: center;
}

.btn-create:hover {
    background-color: #cb6f28;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-Back {
    background-color: #337ab7;
    color: white;
    display: block; /* Change l'affichage en block pour permettre le centrage horizontal */
    width: 80px; /* Définir une largeur fixe */
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

/* Styles pour les icônes dans les boutons */
.btn i {
    margin-right: 5px;
}

.btn-info {
    background-color: #222224;
    color: white;
}

/* Styles spécifiques pour le bouton 'Voir les autres trajets' */
.btn-secondary {
    background-color: #002533;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-view-all {
    display: inline-block; /* Change l'affichage pour le centrage */
    padding: 10px 20px; /* Ajoute du padding pour un bouton plus large */
    font-size: 16px; /* Augmente la taille de la police pour le rendre plus proéminent */
    border-radius: 8px; /* Coins plus arrondis */
    text-transform: uppercase; /* Texte en majuscules */
    margin-top: 20px; /* Espace en haut du bouton */
    transition: all 0.3s ease-in-out; /* Transition pour les effets */
    margin: 0 auto; /* Centre le bouton horizontalement */
}

/* Nouveau style pour centrer le bouton sous le tableau */
.text-center {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-view-all:hover {
    background-color: #5a6268;
    color: white; /* Assurez-vous que le texte reste blanc au hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au hover */
}

/* Styles de disposition */
.row {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #002533;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.col-md-8 {
    max-width: 800px; /* Limiter la largeur */
}

/* Carte avec ombres */
.card {
    border: none;
    border-radius: 8px; /* Coins légèrement plus arrondis */
    padding: 80px; /* Plus d'espace */
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.card-header {
    display: block; /* Change l'affichage en block pour permettre le centrage horizontal */
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(to right, #dee3e7, #002533); /* Dégradé pour la carte */
    color: rgb(255, 255, 255); /* Texte blanc sur la carte */
    text-align: center;
}

.card-body {
    display: flex;
    justify-content: center;
    width: 50;
    margin: 0 auto;
}

/* .float-start {
    float: left;
} */

.float-end {
    float: right;
}

/* Styles des formulaires */
input.form-control {
    border: 1px solid #ccc;
    border-radius: 8px; /* Coins plus arrondis */
    padding: 10px; /* Plus de rembourrage */
    transition: border-color 0.3s ease-in-out;
}

input.form-control:focus {
    border-color: #007bff; /* Couleur lors de la mise au point */
    outline: none;
}

input[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px; /* Plus de rembourrage */
    border-radius: 8px; /* Coins plus arrondis */
    transition: background-color 0.3s ease-in-out;
}

input[type='submit']:hover {
    background-color: #0056b3; /* Changement de couleur lors du hover */
}

/* Messages d'erreur */
.text-danger {
    color: red; /* Couleur rouge pour les messages d'erreur */
}

h5 {
    text-align: center;
    font-size: 2em; /* Vous pouvez ajuster cette valeur selon vos besoins */
    font-weight: bold; /* Optionnel, pour rendre le texte plus gras */
}

/* Réactivité */
@media (max-width: 576px) {
    .col-md-4 {
        text-align: start;
    }

    .offset-md-5 {
        margin-left: 0; /* Ajustement du formulaire sur les écrans plus petits */
    }
}
